@*
   
*@
@{
}

<footer class="main-footer sidebar-dark-primary elevation-4" style="padding: 10px 0; text-align: center;  margin-bottom:0; margin-left:auto;">
    <div class="container">
        <div class="float-right d-none d-sm-inline">
            <!-- Conteúdo opcional à direita do footer -->
        </div>
        <strong>&copy; 2023/2024</strong>
        <h3>Spai - Ministério Público Militar</h3>
    </div>
</footer>